@import '../variables.scss';

.earth--day .vine2 {
  fill: $pistachio;
}

.earth--night .vine2 {
  fill: $pistachio-dark;
}

.space--day .vine2 {
  fill: $pistachio;
}

.space--night .vine2 {
  fill: $palecerulean-dark;
}

.vine2 {
  animation: vine2-movement 10s infinite linear;
}

@keyframes vine2-movement {
  0% {
    transform: rotate(0deg) scale(1);
    transform-origin: bottom;
  }
  25% {
    transform: rotate(0.75deg) scale(1.005);
    transform-origin: bottom;
  }
  50% {
    transform: rotate(0deg) scale(1);
    transform-origin: bottom;
  }
  75% {
    transform: rotate(-0.75deg) scale(1.005);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(0deg) scale(1);
    transform-origin: bottom;
  }
}
