@import './variables.scss';


.day {
	
	.rocket__fire--accent {
		fill: #F9A369;
	}

	.rocket__fire--main {
		fill: #F7904B;
	}

	.rocket__body {
		fill: $palecerulean-darker;
	}

	.rocket__window {
		fill: $palecerulean-lighter;
	}	
	
}


.night {
	
	.rocket__fire--accent {
		fill: #F9A369;
	}

	.rocket__fire--main {
		fill: #F7904B;
	}

	.rocket__body {
		fill: $palecerulean-darker;
	}

	.rocket__window {
		fill: #C1E5E5;
	}
	
}

.rocket__fire--accent {
	animation: fire-accent 4s infinite linear;
}

@keyframes fire-accent {
	0% {fill:#F9A369;}
	50% {fill:$maize-dark;}
	100% {fill:#F9A369;}
}