@import './variables.scss';

.saturn-smooth__crater {
	fill: $palecerulean-darkest;
}

.saturn-smooth__body--main {
	fill: $palecerulean-dark;
}

.saturn-smooth__ring--accent {
	fill: $queenblue-lighter;
}

.saturn-smooth__ring--main {
	fill: $queenblue;
}